{{define "footer"}}
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <hr>
                <small class="text-muted">
                    Go Microservices Communication Lab &middot;
                    <a href="https://github.com/tsawler/go-micro">upstream course source</a>
                </small>
            </div>
        </div>
    </div>
{{end}}
